extends layout

block content
  <!-- #{JSON.stringify(movesAtlas)} -->
  .container
    h1= title
    if movesList.length == 0
      p No moves found.
    each move in movesList
      if !move.isReleased
        p This move hasn't been released yet.
      else
        .move.panel.panel-default(id="#{move.key}")
          .panel-heading
            h3.panel-title
              a(href="/move/#{move.key}").move-name= move.name
              span.author
                | by 
                if move.authorUrl
                  a(href="#{move.authorUrl}")= move.author
                else
                  = move.author
                  
          .panel-body
            .row
              .description.col-md-9
                != move.description
                if move.flavor
                  .flavor
                    blockquote
                      != move.flavor


              .col-md-3
                ul.nav.nav-pills.nav-pills-stacked
                  if move.gitHubUrl
                    li
                      a.btn.btn-default(href="#{move.gitHubUrl}" target="_blank") 
                        span.glyphicon.glyphicon-edit
                        |  View on GitHub
                  if move.blogPost
                    li
                      a.btn.btn-default(href="#{move.blogPost}" target="_blank") 
                        span.glyphicon.glyphicon-eye-open
                        |  Read the Blog Post

                if move.releaseDate
                  p.release-date Released #{move.releaseDateFormatted}
      

